---
 const personalImageAlt = "Abdul Hanan Sadiq"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Abdul, soy una persona flexible, siempre dispuesta a asumir nuevos desafíos con determinación.<strong> Disfruto aprendiendo cosas nuevas</strong> y manteniéndome actualizado con las últimas tendencias y avances del sector.
    </p>

    <p>
      Mi interés en <strong> programación</strong> me ha llevado a profundizar mis conocimientos a través de mis estudios. Actualmente, estoy enfocado en desarrollar habilidades de organización, gestionando mi tiempo y recursos de manera efectiva para alcanzar mis metas académicas.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg " alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>